---
import Wrapper from '../islands/Wrapper';
import LayoutProtected from '../layouts/LayoutProtected.astro';
---

<LayoutProtected>
  <div class="flex items-center justify-center h-screen gap-2">
    <Wrapper client:load />
  </div>
</LayoutProtected>
