---
import Wrapper from '../islands/Wrapper';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex items-center justify-center h-screen gap-2">
    <Wrapper client:load />
  </div>
</Layout>
