---
import Layout from '../components/Layout.astro';
---

<Layout title="Registro">
  <div class="flex flex-col gap-4 p-4 max-w-lg m-auto shadow-md rounded">
    <img src="/avanzalogo.png" alt="Logo" class="w-32 h-32 m-auto" />
    <h1 class="text-2xl font-bold text-center">Registro</h1>
    <form id="registerForm" class="flex flex-col gap-4">
      <input
        id="username"
        name="username"
        placeholder="Usuario"
        required
        class="border border-gray-300 rounded p-2"
      />
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Contraseña"
        required
        class="border border-gray-300 rounded p-2"
      />
      <button
        type="submit"
        class="bg-blue-500 text-white rounded p-2 w-full hover:bg-blue-600 transition duration-200"
        >Registrarse</button
      >
    </form>

    <p>
      Ya tienes cuenta? <a
        href="/login"
        class="text-blue-500 hover:underline transition duration-200"
        >Inicia sesión</a
      >
    </p>
  </div>
</Layout>
<script type="module">
  document
    .getElementById('registerForm')
    .addEventListener('submit', async (event) => {
      event.preventDefault();

      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      try {
        const response = await fetch('/api/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ username, password }),
        });

        if (response.ok) {
          alert('Registro exitoso');
          window.location.href = '/login';
        } else {
          const error = await response.json();
          alert(`Error: ${error.message || error || 'No se pudo registrar'}`);
        }
      } catch (err) {
        alert('Error al registrar. Intenta de nuevo más tarde.');
      }
    });
</script>
